@font-face {
    font-family: 'DaxlinePro-Bold.otf';
    src: url( ../FontsDaxlinePro/DaxlinePro-Bold.otf);
}

@font-face {
    font-family: 'DaxlinePro-ExtraBold.otf';
    src: url(../FontsDaxlinePro/DaxlinePro-Medium.otf);
}

@font-face {
    font-family: 'DaxlinePro-Light.otf';
    src: url(../FontsDaxlinePro/DaxlinePro-Light.otf);
}

@font-face {
    font-family: 'DaxlinePro-Regular.otf';
    src: url(../FontsDaxlinePro/DaxlinePro-Regular.otf);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
  }

  .login-container {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .formtext{
    margin-top: 260px; 
    margin-left: 200px;
  }

  .formtext h2{
    font-size: 30px;
    font-family:'DaxlinePro-ExtraBold.otf' ;
  }

  .formtext p{
    font-size: 14px ;
    font-family: 'DaxlinePro-Light.otf';
    }


   #login-logo{
    position: relative;
    bottom: -15%;
    margin-left: 200px;
   }

  .login-form {
    flex: 1;
    padding: 10px;
  }

  .login-form img {
    max-width: 100%;
    height: auto;
  }

  .form-group {
    margin-bottom: 15px;
    position: relative;
  }

  button {
    background-color: #005E39;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 60%;
  }
  
  button:hover {
    background-color: #98FFC3;
  }

  a{
    text-decoration: none;
    color: #0D204A;
  }


  #secbtn{
  margin-top: 90px;
  
}

  .footer {
    margin-top: 20px;
    text-align: center;
  }

  #formfooter{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 40px;
  }

.footsection{
    display: flex;
    justify-content: space-between;
}

#footerone{
  margin-left: -90px;
}

#footertwo{
  position: relative;
  right: 130px;
}

#footerthree{
  margin-top: 300px;
  margin-right: 350px;
}
