@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    //Layout = "~/Views/Shared/_Login.cshtml";
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/weApproveAssets/css/">
    <link rel="stylesheet" href="~/weApproveAssets/css/style.css">
    <script src="https://kit.fontawesome.com/bade0d0075.js" crossorigin="anonymous"></script>
    <link rel="icon" href="~/WeApprove_Icon.ico" />
    <!--The modal pop up script reference-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <title>Forget Password </title>
</head>


<body>

@await Component.InvokeAsync("NToastNotify")
<!-- forgot password start -->
<section class="sections" style="display:flex; flex-direction:row; height: 100vh; overflow: hidden">
    <div class="img-sections" style="width:50%; height: 100vh">
        <img class="images" style="margin: auto; filter: brightness(50%); width: 100%" src="~/weApproveAsset/assets/login.png" alt="Your Company">
    </div>
    <div class="pwdcontainer">
        <div class="pwdsecond-container">
            <a asp-action="Login" class="home">
                <div class="home-image">
                    <img src="~/weApproveAsset/assets/Icon open-home.png">
                </div>
                <p class="back-home">Go back home</p>
            </a>
            <div class="pwdthird-container">
                <div class="pwdsect">
                    <div>
                        <img class="weApproveLogo" src="~/weApproveAsset/assets/logo.png" alt="Your Company">
                    </div>

                    <div class="fgt-text-fgt1">

                        <form class="mb-lg-4C" asp-action="changepassword" method="post" asp-controller="account">

                            @Html.AntiForgeryToken()
                            <div class="form-group">

                                <input type="email" asp-for="username" class="form-control" id="username" placeholder="Email address">
                                <span asp-validation-for="username" class="text-danger"></span>
                            </div>


                            <div class="form-group">

                                <input type="password" class="form-control" id="oldpassword" asp-for="OldPassword" placeholder="Old Password">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="text-bold-600" for="exampleInputPassword1">New Password</label>
                                <input type="password" class="form-control" id="Password" asp-for="NewPassword" placeholder="New Password">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">

                                <input type="password" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword" placeholder="Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                                <span class="side" style="color:red; font-size: 0.6rem;">
                                    Old Password cannot be used, Password should contain 8 or more characters with a mix of letters, upper case, numbers &amp; symbols (e.g !#$%^&)
                                </span>

                            <button type="submit" class="btn btn-WeApproveProj glow w-100 position-relative">Change Password<i id="icon-arrow" class="bx bx-right-arrow-alt"></i></button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- forgot password ends -->
</body>

</html>