@model Tenant_App.Models.DTOs.ForgetPasswordDto

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_NabtebChangePassword.cshtml";
}

<div class="login-container">
    <div class="login-form">
        <img src="~/NabtebNewAssets/assests/bgd container.png" alt="NABTEB IMAGE" />
    </div>
    <div class="login-form">
        <img id="login-logo" style="bottom: -22%;" src="~/NabtebNewAssets/assests/NABTEB LOGO.png" alt="NABTEB LOGO" />
        <form class="form" asp-controller="CustomAccount" asp-action="ForgetPassword" method="post" >
            <div class="formtext">
                <div class="ftext">
                    <h2>Reset password</h2>
                    <p>Complete the following to reset your password</p>
                    <div class="form-group">
                        <p>IPPIS No.*</p>
                        <input asp-for="Ippis" type="text" placeholder="Enter Ippis No." />
                    </div>
                    <div class="form-group">
                        <p>Date of First Appointment*</p>
                        <input asp-for="DateOfAppointment" type="date" placeholder="Enter Date of First Appointment" />
                    </div>
                    <div class="form-group">
                        <p>New password*</p>
                        <input asp-for="Password" type="password" placeholder="Enter new password" />
                    </div>
                    <div class="form-group">
                        <p>Re-enter new password*</p>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Re-enter new password" />
                    </div>
                    <button type="submit" onclick="myFunction()">Change password</button>
                </div>
                <div id="formfooter">
                    <p id="footerone" class="footer">
                        <a href="@Url.Action("Login", "CustomAccount")">Back to Login</a>
                    </p>
                    @* <p id="footertwo" class="footer">
                        <a href="#">Click here to resend</a>
                    </p> *@
                </div>
                
            </div>
        </form>
        <p id="footerthree" class="footer">Copyright &copy; by Vatebra.com</p>
    </div>
</div>

@* <div class="login-logo">
    <a href="index.html"><img src="~/NabtebHrAsset/images/HR_Logo.png" alt="" style="max-width: 100%; max-height: 70px;" /></a>
    <a href="index.html"><img src="~/NabtebHrAsset/images/NABTEB_Logo.png" alt="" style="max-width: 100%; max-height: 150px;" /></a>
</div>
<h2 class="form-heading">Change Forgotten Password</h2>
<div class="app-cam">
    <form class="form" asp-controller="CustomAccount" asp-action="ForgetPassword" method="post" >
        <input asp-for="Ippis" type="text" value="IPPIS No." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your IPPIS No';}">
        <label for="DateOfAppointment">1st Appointment Date:</label>
        <input asp-for="DateOfAppointment" type="date" id="DateOfAppointment" placeholder="1st Appointment Date" />

        <input asp-for="Password" type="password" value="Old Password" placeholder="New Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'New Password';}">
        <input asp-for="ConfirmPassword" type="password" value="Confirm Password" placeholder="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}"> *@

        @* <input type="hidden" class="form-control" id="token" asp-for="Email">
        <input type="hidden" class="form-control" id="userid" asp-for="UserId"> *@
        @* <div class="submit"><input type="submit" onclick="myFunction()" value="Update Password"></div>

        <ul class="new">
            <li class="new_left"><p><a href="@Url.Action("Login", "CustomAccount")">Back to Login</a></p></li>
            <div class="clearfix"></div>
        </ul>
    </form>
</div>
<div class="copy_layout login">
    <p>Copyright &copy; 2023 by vatebra.com <a href="https://vatebra.com/" target="_blank"></a> </p>
</div> *@




