
<iv id = "addMaterialCategoryModel" class="modal  modalLayout" tabindex="-1" role="dialog">
    <!-- Modal content -->
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form asp-action="MaterialCategoryDashBoard" method="post">

            <div class="modal-header">
                <h2>Add New Material Category</h2>

                <a href="#" onclick="CloseModal()">&times;</a>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
                <input type="submit" value="Create" class="btn btn-success" />
                <input type="button" onclick="CloseModal()" value="Close" id="btnclose" name="btnclose" class="btn btn-danger" />

            </div>
        </form>
    </div>
</div>

</div>