@model PasswordChangeViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_NabtebResetPassword.cshtml";
}

<div class="login-container">
    <div class="login-form">
        <img src="~/NabtebNewAssets/assests/bgd container.png" alt="NABTEB IMAGE" />
    </div>
    <div class="login-form">
        <img id="login-logo" style="bottom: -20%;" src="~/NabtebNewAssets/assests/NABTEB LOGO.png" alt="NABTEB LOGO" />
        <form class="form" asp-controller="CustomAccount" asp-action="UpdatePassword" method="post">
            <div class="formtext">
                <div class="ftext">
                    <h2>Reset password</h2>
                    <p>Complete the following to reset your password</p>
                    
                    <div class="form-group">
                        <p>New password*</p>
                        <input asp-for="OldPassword" type="password" placeholder="Enter new password" />
                    </div>
                    <div class="form-group">
                        <p>New password*</p>
                        <input asp-for="NewPassword" type="password" placeholder="Enter new password" />
                    </div>
                    <div class="form-group">
                        <p>Re-enter new password*</p>
                        <input asp-for="ConfirmPassword" type="password" placeholder="Re-enter new password" />
                    </div>
                    <input type="hidden" class="form-control" id="token" asp-for="Email">
                    <input type="hidden" class="form-control" id="userid" asp-for="UserId">
                    <button type="submit" onclick="myFunction()">Reset password</button>
                </div>
                <div id="formfooter">
                    <p id="footerone" class="footer">
                        <a href="@Url.Action("Login", "CustomAccount")">Back to Login</a>
                    </p>
                    @* <p id="footertwo" class="footer">
                    <a href="#">Click here to resend</a>
                    </p> *@
                </div>
                <p id="footerthree" class="footer">Copyright &copy; by Vatebra.com</p>
            </div>
        </form>
    </div>
</div>


@* <div class="login-logo">
    <a href="index.html"><img src="~/NabtebHrAsset/images/HR_Logo.png" alt="" style="max-width: 100%; max-height: 70px;" /></a>
    <a href="index.html"><img src="~/NabtebHrAsset/images/NABTEB_Logo.png" alt="" style="max-width: 100%; max-height: 150px;" /></a>
</div>
<h2 class="form-heading">Change Your Password</h2>
<div class="app-cam">
    <form class="form" asp-controller="CustomAccount" asp-action="UpdatePassword" method="post">
        <div class="form-group">
            <label for="OldPassword">Old Password</label>
            <div class="password-input">
                <input asp-for="OldPassword" type="password" id="OldPassword" placeholder="Old Password" required>
                <span toggle="#OldPassword"  class="eye-toggle toggle-password"> </span>
            </div>
        </div>
        <div class="form-group">
            <label for="NewPassword">New Password</label>
            <div class="password-input">
                <input asp-for="NewPassword" type="password" id="NewPassword" placeholder="New Password" required>
                <span toggle="#NewPassword" class="eye-toggle toggle-password"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword">Confirm New Password</label>
            <div class="password-input">
                <input asp-for="ConfirmPassword" type="password" id="ConfirmPassword" placeholder="Confirm New Password" required>
                <span toggle="#ConfirmPassword" class="eye-toggle toggle-password"></span>
            </div>
        </div>

        <input type="hidden" class="form-control" id="token" asp-for="Email">
        <input type="hidden" class="form-control" id="userid" asp-for="UserId">

        <div class="submit">
            <input type="submit" onclick="myFunction()" value="Update Password">
        </div>

        <ul class="new">
            <li class="new_left">
                <p><a href="@Url.Action("Login", "CustomAccount")">Back to Login</a></p>
            </li>
            <div class="clearfix"></div>
        </ul>
    </form> *@

    @* <form class="form" asp-controller="CustomAccount" asp-action="UpdatePassword" method="post">
        <input asp-for="OldPassword" type="password" placeholder="Old Password" value="Old Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Old Password';}">
        <input asp-for="NewPassword" type="password" placeholder="New Password" value="New Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'New Password';}">
        <input asp-for="ConfirmPassword" type="password" placeholder="Confirm New Password" value="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}">

        <input type="hidden" class="form-control" id="token" asp-for="Email">
        <input type="hidden" class="form-control" id="userid" asp-for="UserId">
        <div class="submit"><input type="submit" onclick="myFunction()" value="Update Password"></div>

        <ul class="new">
            <li class="new_left"><p><a href="@Url.Action("Login", "CustomAccount")">Back to Login</a></p></li>
            <div class="clearfix"></div>
        </ul>
    </form> *@
@* </div>
<div class="copy_layout login">
    <p>Copyright &copy; 2023 by vatebra.com <a href="https://vatebra.com/" target="_blank"></a> </p>
</div> *@

<script>
    $(".toggle-password").on('click', function () {
        $(this).toggleClass("eye-open eye-closed");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") === "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
