<footer class="footer fixed-footer footer-light">
    <p class="clearfix mb-0">
        <span class="float-left d-inline-block">@DateTime.Now.Year.ToString() &copy; EKITI - Early Warning Early Response System (EWERS)</span><span class="float-right d-sm-inline-block d-none">Power By <a class="text-uppercase" href="#" target="_blank">VATEBRA</a></span>
        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>
    </p>
</footer>