@font-face {
    font-family: 'DaxlinePro';
    src: url('../assets/DaxlinePro-Regular/DaxlinePro-Regular.ttf') format('opentype');
}

h1,h2,h3,h4,h5,h6,p,span,div,a,button,section{
  font-family: 'DaxlinePro', sans-serif;
}
.feature-card:hover {
    border: solid 2.5px #000066 !important;
}
.feature-card:hover > img,.imgs{
    background-color: #D7B321;
    color: #D7B321;
}
.feature-card:hover > h1 {
    color: #000066;
}

.price-card:hover{
    background: linear-gradient(#C32131,#621119);
}
.price-card:hover > h4{
    color: white;
}
.price-card:hover > .price{
    background-color: #D7B32126 ;
    color: #D7B321;
}
.price-card:hover > .plans > span > .fa-solid{
    color: #D7B321;
}
.price-card:hover > .plans > span > p{
    color: white;
}
.price-card:hover > button{
    background-color: #D7B321;
    color: white;
}